*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    padding: 16px;  
}

.links{
display: flex;
align-items: center;
}

div a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px;
    text-decoration: none; 
}