*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    padding: 16px;  
}

.links{
display: flex;
align-items: center;
}

div a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px;
    text-decoration: none; 
}

.hero{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 45px;
    gap: 75px;
}

.signup{
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.signup h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.signup p {
    color: #f9faf8;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    max-width: fit-content;
    border-radius: 6px;
    align-self: center;
    padding: 4px; 
    border-style: none;
}

.information{
    background-color: #f9faf8;

}

.information h2{
    font-size: 36px;
    padding: 24px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.examples{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    justify-content: center;

}

.examples div{
    padding: 16px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.examples p{
    padding: 12px;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    
}

.quote div{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 600px;
 
}

.quote .signature{
    font-weight: bold;
    font-size: 22px;
    align-self: flex-end;
}

.action{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.its_time{
    background-color: #3882f6;
    color: #f9faf8;
    width: 900px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.its_time div{
    display: flex;
    flex-direction: column;
}

.button2{
    border-style: solid;
    border-color: #f9faf8;
}